<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="TH2302010.js"></script>
    <link rel="stylesheet" href="TH2302010.css"> 
</head>
<body ng-app="myApp">
    <div ng-controller="myController">
        <div class="search">
            <input type="text" ng-model="textSearch" placeholder="Enter text to search">
            <input type="text" ng-model="categoriesSearch" placeholder="Search by categories">
        </div>
        <div class="container">
            <div class="items" ng-repeat="item in courses | filter: textSearch">
                <img src={{item.logo}} alt={{item.name}}>
                <h4>{{item.name}}</h4>
                {{item.author}}<br><br>
                {{item.about}}<br><br>
                <div id="button">
                    <button>READMORE</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>